body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,200,233,1) 100%);
}

.home-container {
    margin-top: 270px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.home-container .start-btn {
    padding-left: 68px;
}

.quiz-container,
.score-container{
    position: absolute;
    top: 50%;
    left: 50%;
}

.home-container.deactivateHome{
    display: none;
}

.quiz-container.activeQuiz {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}

.score-container.activeScore {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}

.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: lightcyan;
    cursor: pointer;
}

.quiz-container {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
    width: 550px;
    background: rgb(226, 180, 197);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px gray;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz-container header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background:rgb(226, 180, 197);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px gray;
}

.quiz-container header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: rgb(166, 214, 233);
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-container header .timer .timer-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-container header .timer .time-seconds {
    font-size: 18px;
    font-weight: 500;
    background: bisque;
    height: 30px;
    width: 45px;
    color: black;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    user-select: none;
}

.quiz-container .section {
    padding: 25px 30px 20px 30px;
    background: white;

}

.quiz-container section .question-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-container section .option-list {
    padding: 20px 0;
    display: block;
}

section .option-list .option {
    background: plum;
    border: 1px solid pink;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section .option-list .option:hover {
    color: b;
    background: white;
    border-color: plum;
}

.option-list .option-list:last-child {
    margin-bottom: 0px;
}

.option-list .option.correct{
    color: black;
    background: green;
    border-color: green;
    opacity: 70%;
}

.option-list .option.incorrect{
    color: black;
    background: red;
    border-color: red;
    opacity: 70%;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-container footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .next-btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    outline: none;
    color: black;
    background: rgb(166, 214, 233);
    border: 1px solid black;
    cursor: pointer;
}

footer .next-btn:hover {
    background: whitesmoke;
}

.score-container {
    background: rgb(166, 214, 233);
    width: 800px;
    height: 200px;
    padding: 25px 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
}

.score-container .complete-text {
    margin-top: 2%;
    font-size: 40px;
    font-weight: 500;
}

.score-container .button {
    display: flex;
    margin: 20px 0;
}

.score-container .button button {
    margin: 0 10px;
    height: 60px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}   